<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Login</title>
    </head>
    <body>
        <form action="login" method="post">
            {% match auth_error %}
            {% when Some with (error) %}
            {{- error -}}
            {% when None %}
            {% endmatch %}
            <div>
                <label>Username
                    <input type="text" placeholder="Enter Username" name="username" id="username" required />
                </label>

                <label>Password
                    <input type="password" placeholder="Enter Password" name="password" id="password" required />
                </label>

                <button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>